---
layout: layouts/base.njk
---


<form action="#">
    <legend>
        <label for="name">First name:</label><input required type="text" id="name" name="name" placeholder="name"/><br/>
        <label for="surname">Surname:</label> <input required type="text" id="surname" name="surname" placeholder="surname"/><br/>
        <label for="email">Email:</label> <input type="email" id="email" name="email" placeholder="bob@gmail.com" /><br/>
    </legend>
    <legend>Additional information</legend>
    <textarea name="textArea" class="form-control" id="additionalInfo" rows="3"></textArea>
    <input type="submit" class="submit"/>
</form>