---
layout: layouts/base.njk
---

<div><h1 class="homeTitle">Mary Ashford's Coding Blog</h1></div>

<div class="intro">
	<h2 class="vertical-word">Featured</h2>
	<section id="featured-posts">
      <div class="container">
        <div class="row text-center g-4"> 
          <div class="col-md"> 
            <div class="card bg-dark text-light"> 
              <div class="card-body">
                <div class="h1 mb-3">
                  <img src="/img/Accessibility.jpg" alt="lighthouse report" width=350px>
                </div>
                <h3 class="card-title mb-3">Exploring Accessibility</h3>
                <p class="card-text">
                  In the second session with The Coder's Guild, we looked at how to improve Accessibility, something I had previously looked into with Code First Girls. 
                </p>
                <a href="/blog/thirdpost" class="btn btn-info">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-secondary text-light">
              <div class="card-body text-center" id="mid-card">
                <div class="h1 mb-3">
                  <img src="/img/bootstrap.jpg" alt="use of bootstrap" width=350px>
                </div>
                <h3 class="card-title mb-3">Using Frameworks</h3>
                <p class="card-text">
                  In this session with The Coder's Guild, we explored how bootstrap can be utilised alongside HTML and CSS to create more of a finished look to our websites. 
                </p>
                <a href="/blog/fourthpost" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <img src="/img/forms.jpg" alt="example of online form" width=350px>
                </div>
                <h3 class="card-title mb-3">Form Processing</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-info">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{{ content | safe }}
